fastapi==0.115.6
uvicorn==0.34.0
pydantic_settings==2.7.1
sqlalchemy==2.0.37
pyheck==0.1.5
psycopg[binary]==3.2.4
PyJwt==2.10.1
pydantic[email]==2.10.5
redis==5.2.1
pydantic_extra_types==2.10.2
pycountry==24.6.1
requests==2.32.3